@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
   margin: 0; 
   font-family: 'Lato', sans-serif;
}

body {
    overflow-x: hidden;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.heading {
   
    background: rgb(139,196,255);
    background: linear-gradient(324deg, rgba(139,196,255,1) 0%, rgba(20,52,255,1) 100%);
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-text-fill-color: transparent;
    font-weight: 900;
    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    background-color: #fbac7e;
background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    color: white;
    padding: 20px 20px;
    letter-spacing: 0.7px;
    box-shadow: 0 5px 12px rgba(251, 172, 126,0.4);
    border-radius: 8px;
    font-size: 18px;
    transition: all 0.4s ease;
    cursor: pointer;
}

.item:hover {
    transform: scale(1.09);
}